# Node modules & build outputs
node_modules/
dist/
build/
out/
.env
.env.local

# IDEs and OS
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
Thumbs.db
.DS_Store

# DB data & Uploads
data/
db/
uploads/
logs/

# Local configuration
*.local
